{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop - Categories</title>
    <link rel="stylesheet" href="{%static 'shop/categories.css'%}">
</head>
<body>

<!-- Category Banner -->
<section class="category-banner">
    <h1>Electronics</h1>
    <p>Discover the latest gadgets and devices</p>
</section>

<!-- Main Layout -->
<section class="category-layout">

    <!-- Sidebar -->
    <aside class="sidebar">
      
    </aside>

    <!-- Product Section -->
    <div class="category-products">

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%2Fid%2FOIP.K9tkMKimVs9dD_3LOQ9iDQHaHa%3Fpid%3DApi&f=1&ipt=9247a68bf4e8b75f4f2daebb2c04a92b78f7b105d23c875983567c3a44904f95&ipo=images" alt="Product">
            <h3>Noise Canceling Headphones</h3>
            <p class="price">$79.99</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%2Fid%2FOIP.XNrs9jgRhFUyPEQyw0wuAAHaHv%3Fpid%3DApi&f=1&ipt=a96ca03d23967f26671fa24b4909a1e938d3d442642e38970d813e9dedb6d90a&ipo=images" alt="Product">
            <h3>Fitness tracker</h3>
            <p class="price">$120.00</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.TUtqhlRqOZXursfqG2OBMwHaHa%3Fpid%3DApi&f=1&ipt=f429338e1b9887f6d581605128f5f74ac4ae70aee1aaf9001d177716dfd391f4&ipo=images" alt="Product">
            <h3>Portable Bluetooth Speaker</h3>
            <p class="price">$45.99</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.GagxGZAWPjO1oXgb3bEOCAHaIO%3Fpid%3DApi&f=1&ipt=b4ac326b5ec5a8693ab1a5b99d302e3ee3eb158b12be93b02c327a585b08a7b4&ipo=images" alt="Product">
            <h3>Fast Charging Power Bank</h3>
            <p class="price">$29.99</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.VT5ytYbjdyy2LA3BZgnMmQHaE8%3Fpid%3DApi&f=1&ipt=1dd063dfe4cd0129a8763c9ead8137f864f1be09c04fe58387e4a7645691af2a&ipo=images" alt="Product">
            <h3>Modern freezer</h3>
            <p class="price">$45.99</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.Me2E6oir_nuAUpNL8LkTGwHaGb%3Fpid%3DApi&f=1&ipt=1ecd432f67b7e7ffdab596f38ca1c351f27c873f8653ef85de2dd88952fd8b75&ipo=images" alt="Product">
            <h3>Smart Oled LG television</h3>
            <p class="price">$29.99</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%2Fid%2FOIP.egkBqtsVt2j7UHJS2GRHhgAAAA%3Fpid%3DApi&f=1&ipt=b2778205ab266891b33cbfd11d83853c1653a4b542b57693dac1d9ae1585dfe7&ipo=images" alt="Product">
            <h3>Mifi - Network device</h3>
            <p class="price">$45.99</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.rrKy6qbBvqJuc6mALcejuwHaKx%3Fpid%3DApi&f=1&ipt=97b3d09095948510933e0362ba63ae09a8f46da6428910e689ff28ac4e3277af&ipo=images" alt="Product">
            <h3>Modern Electric Cooker</h3>
            <p class="price">$29.99</p>
            <button>Add to Cart</button>
        </div>

                <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.IZMEky0uMl-aybITUBy00QHaHa%3Fpid%3DApi&f=1&ipt=3858da02d401c045a28f744af83a33cf8f9cc17a0574398e8e831ea2b6a8f068&ipo=images" alt="Product">
            <h3>Electric Jug Heater</h3>
            <p class="price">$29.99</p>
            <button>Add to Cart</button>
        </div>

                <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%2Fid%2FOIP.A3KOX3Xjba2IkBz7g34nuwHaHS%3Fpid%3DApi&f=1&ipt=db0af35ffd34b1f3a626d45069d0fb01dd4b94a5fa66acfbd28947f397935451&ipo=images" alt="Product">
            <h3>Wireless Mouse</h3>
            <p class="price">$29.99</p>
            <button>Add to Cart</button>
        </div>

                <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.zcgnnK53CMk_jlTpAKWoOgHaFj%3Fpid%3DApi&f=1&ipt=a89577ee153ebf11ae8fc7b45540be816ba44af95b9cfcb7e7c3a61faf374776&ipo=images" alt="Product">
            <h3>Laptop</h3>
            <p class="price">$29.99</p>
            <button>Add to Cart</button>
        </div>

                <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%2Fid%2FOIP.aRL49gE_2z0gwKkOFccRFAHaHa%3Fpid%3DApi&f=1&ipt=22ad2f1611cc040648e1de5f84c21f848df9d842f67a06f1b5e97d8fc2182003&ipo=images" alt="Product">
            <h3>Water Dispenser</h3>
            <p class="price">$29.99</p>
            <button>Add to Cart</button>
        </div>

    </div>

</section>

</body>
</html>
