{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <tile>eShop login</tile>
    <link rel="stylesheet" href="{%static 'shop/dashboard.css'%}">
</head>

<body>

<div class="bg-circles">
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="login-box">
    <h2>Login</h2>

    <form method="POST" action='{%url 'dashboard'%}'>
        {% csrf_token %}
        <div class="input-box">
            <input type="text" required name="username">
            <label>Username</label>
           
        </div>
        
        <div class="input-box">

            <input type="password" required name="password">
            <label>Password</label>
        </div>

         <div class="input-box">
            <input type="email" required name="email">
            <label>email</label>
        </div>
     
        <p><i>Do you have an account?</i></p>
        <button type="submit" class="btn">Sign Up</button>
        <br></br>
        <button class="login-btn">Login</button>
        
    </form>
</div>
{%if messages%}
        <script>
            {%for message in messages%}
            alert("{{message}}");
            {% endfor %}
        </script>
{% endif %}
</body>
</html>
