{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Products</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'shop/products.css'%}">
    </head>
    <body>
       <section class="products">
    <h2>Featured Products</h2>

    <div class="product-grid">

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.7NX2mZAQBMpHvybQoCsPaQHaE8%3Fpid%3DApi&f=1&ipt=4871964f7b5079435cfcde9c79edfc2b30a6047b5767bffdc12a2a74790d9b6c&ipo=images" alt="Product 1">
            <h3>Modern Headphones</h3>
            <p class="price">Ksh.1200</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.45f3iLLTv6F7qaZ55d0QpwHaHa%3Fpid%3DApi&f=1&ipt=ba3857fa93985c68c686573d26a0661d478abf2ec0046555333f3d999346d99a&ipo=images" alt="Product 2">
            <h3>Smart Watch</h3>
            <p class="price">Ksh.3550</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.-YZA8Io6pDY-yQv-jUL2tAHaEj%3Fpid%3DApi&f=1&ipt=33e5db7420a9ec21d7433c1102bdaddd24a83bd065e181888eeb31c41174b354&ipo=images" alt="Product 3">
            <h3>Wireless Speaker</h3>
            <p class="price">Ksh.5000</p>
            <button>Add to Cart</button>
        </div>

        <div class="product-card">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.JYfzsxQEjdoyZjEqVnZCQAHaHa%3Fpid%3DApi&f=1&ipt=efba1d9b23863f6302517f536c6b0c4611c70bf68feb26797eb8eff34e89ae31&ipo=images" alt="Product 4">
            <h3>Fashion Sneakers</h3>
            <p class="price">Ksh.4500</p>
            <button>Add to Cart</button>
        </div>

    </div>
</section>

</body>
</html>